header {
    background-color: rgba(0, 0, 255, 0.25);
        
}
footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: lightyellow;
        text-align: center;

}

.header {
    font-style: italic;
    font-family: sans-serif;
}

.card-details {
    background: lightgrey;
    color: blue;
    margin: 10px 30px;
    padding: 10px;
    /* border-bottom-left-radius: 80px; */
}

.subscription td,th {
    border-width: 2px;
    border-style:double
}
